@import url(../libreria.boostrap/css/bootstrap.min.css);
* {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif "Source Sans Pro", sans-serif;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/*paleta de colores??
background-image: linear-gradient(135deg, #f5f7fa 0%, #c3e2dd 100%);FONDO  HEADER
#0E554A verde oscuro
#14665F verde fuerte
#2E9990 verde claro
#52CCC2 aqua
#DBDEDD gris
/*header con grids*/
.header {
  width: 100%;
  height: auto;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #2E9990 100%);
  display: grid;
  grid-template-columns: repeat 8, 1fr;
}

.header__logo {
  grid-column: 1/3;
}

.header__instituto {
  grid-column: 5/8;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__nav {
  grid-column: 1/9;
  padding-left: 10%;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #2E9990 100%);
}

.header__nav li {
  font-size: 1.1em;
  /*background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);*/
  text-align: center;
  color: rgb(5, 19, 5);
}

.body {
  background-color: #def2f4;
}

.imagen-principal {
  display: none;
}

.text-center {
  display: none;
}

.slider-indice {
  grid-column: 2;
  grid-row: 2;
}

.container-fluid {
  display: grid;
  grid-column: 60% 40%;
}

.izquierda {
  grid-column: 1;
}

.derecha {
  grid-column: 2;
  margin-left: auto;
}

.centroDePagina-1 {
  display: grid;
  grid-column: 2;
}

.cont-endoscopia {
  background-color: linear-gradient(to right #14665F 0%, #2E9990 50%, #DBDEDD 100%);
  display: flex;
  margin: 2em;
  padding: 2em;
  justify-content: space-around;
}

.card-endoscopia {
  font-size: 1.1em;
  background-color: linear-gradient(to right #0E554A 0%, #14665F 50%, #DBDEDD 100%);
  flex-direction: row;
  flex-wrap: wrap;
  width: 45%;
  padding: 15px;
}
.card-endoscopia h5 {
  font-size: 1.1em;
}
.card-endoscopia p {
  font-size: 0.9em;
}

.card-body h6 {
  color: #0E554A;
}

.cons-btn {
  color: #0E554A;
}

.turnos {
  width: 100%;
  height: 400px;
  background-color: #f3fbfa;
}

.bordes-detalles1 {
  text-align: center;
  border-radius: 4px;
  border-bottom: #14665F 4px solid;
  border-right: #14665F 2px solid;
  margin-bottom: 2px;
}

.bordes-detalles2, .card-endoscopia {
  text-align: center;
  border-bottom: #14665F 4px solid;
  border-right: #14665F 2px solid;
  margin-bottom: 2px;
}

.tarjeta0 {
  margin-top: 5px;
  margin-left: 5px;
  width: 100%;
  padding: 10px;
  text-align: center;
  border: 1px solid #14665F;
  border-radius: 5px;
  border-bottom: #14665F 5px solid;
  border-right: #14665F 3px solid;
  margin-bottom: 10px;
}

.conte {
  width: 100%;
  height: auto;
}

/* inicio menu de redes sociales*/
.menuRedes {
  padding: 0px;
  margin: 0px;
  position: fixed;
  right: -140px;
  top: 200px;
  width: 210px;
  z-index: 1000;
}

.menuRedes-list li {
  list-style-type: none;
  background-color: #DBDEDD;
  color: #e3f1f1;
  height: 43px;
  padding: 0px;
  margin: 0px 0px 1px 0px;
  border-radius: 15px;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

.menuRedes-list li:hover {
  margin-left: -115px;
}

.menuRedes-list li img {
  float: left;
  margin: 5px 4px;
  margin-right: 5px;
}

.menuRedes-list li p {
  padding-top: 5px;
  margin: 0px;
  line-height: 16px;
  font-size: 11px;
}

.menuRedes-list li p a {
  text-decoration: none;
  color: black;
}

.menuRedes-list li p a:hover {
  text-decoration: underline;
}

/* fin de menu de redes sociales*/
footer {
  width: 100%;
  height: 20vh;
  margin-bottom: 0;
  padding: 10px;
  background-color: #2E9990;
}

.footer__leyenda {
  height: auto;
  width: auto;
  -moz-text-align-last: center;
       text-align-last: center;
}

/*responsive*/
@media screen and (max-width: 375px) {
  .header__instituto {
    display: none;
  }

  .header__nav {
    grid-column: 1/9;
    padding-left: 0;
  }

  .header__nav li {
    padding: 1px 3px;
    font-size: 14px;
  }

  #carouselExampleCaptions {
    display: none;
  }

  .cont-endoscopia {
    display: inline;
  }

  .card-endoscopia {
    width: 95%;
  }

  .centroDePagina-1 {
    grid-column: 12;
  }

  .footer__leyenda h6 {
    font-size: 0.7em;
  }
}
@media screen and (min-width: 576px) {
  .header__nav {
    grid-column: 1/9;
    padding-left: 0;
  }

  .header__nav li {
    padding: 1px 3px;
    font-size: 14px;
  }

  .cont-endoscopia {
    display: inline;
  }

  .card-endoscopia {
    width: 95%;
  }

  .centroDePagina-1 {
    grid-column: 12;
  }

  .footer__leyenda h6 {
    font-size: 1.1em;
  }
}
@media screen and (min-width: 768px) {
  .header__nav {
    grid-column: 1/9;
    padding-left: 0;
  }

  .header__nav li {
    padding: 1px 3px;
    font-size: 16px;
  }

  .cont-endoscopia {
    display: inline;
  }

  .card-endoscopia {
    width: 95%;
  }

  .centroDePagina-1 {
    grid-column: 1;
  }

  .centroDePagina-1 img {
    width: 150px;
  }
}/*# sourceMappingURL=estilos.css.map */