
$color-fondo: #def2f4; 
$color-cuadros: linear-gradient(135deg, #DBDEDD 0%, #c3e2dd 100%);
$color-cuadros-oscuro: linear-gradient(135deg, #f5f7fa 0%, #2E9990  100%);
$color-botones: #DBDEDD; 
$color-contenido: #eaf3f1 ;
$color-gradiente: linear-gradient(to right #14665F 0%, #2E9990 50%, #DBDEDD 100%);
$color-gradiente-oscuro: linear-gradient(to right #0E554A 0%, #14665F 50%, #DBDEDD 100%);
//$bordes-redondeados: 4px; border-bottom: #14665F 2px solid; border-right:#14665F 1px solid;//
//me parece que no va asi//
$letra-card: 1em;
$letra-texto: 0.8em;
$letra-card-movil: 0.5rem;



@import url(../libreria.boostrap/css/bootstrap.min.css);
*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif 'Source Sans Pro', sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
/*paleta de colores??
background-image: linear-gradient(135deg, #f5f7fa 0%, #c3e2dd 100%);FONDO  HEADER
#0E554A verde oscuro
#14665F verde fuerte
#2E9990 verde claro
#52CCC2 aqua
#DBDEDD gris
/*header con grids*/
.header{
    width: 100%;
    height: auto;
}
.imagen-de-header{
    background-repeat: no-repeat;
    background-size: contain;
}
.imagen-de-header img{
    width: 220px;
}
.header__nav li{
    font-size: $letra-card;
    text-align:center;
    color:rgb(5, 19, 5);
}
.body{
    background-color: $color-fondo;
}
.text-center{
    display: none;
}
.izquierda{
    grid-column: 1;
}
.derecha{
    grid-column: 2;
    margin-left: auto;
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    text-decoration: none;
}
.container1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container1 img{
    width: 150px;
}
.item{
    margin-bottom: 30px;
    padding: 3px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0,8em;
    background: linear-gradient(to right, #DBDEDD , white);
    flex: 1 1 100px;
    text-decoration: none;
    border-radius: 5px;
}
.item-servicios-turnos{
    background-color: #2E9990 ;
    color:#e3f1f1;
    height:50px;
    width: 200px;
    padding:5px;
    margin:auto;
    margin-bottom: 20px;
    border-radius: 3px;
    border-bottom:#14665F  4px solid;
    border-right:#14665F 2px solid;
    align-items:center;
    text-align: center;
    justify-content: center;
    cursor:pointer;
}
.item-servicios-turnos a{
    text-decoration:none;
    color: rgb(242, 236, 236);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:1em;
}
.IMEG-inicio{
    text-align: center;
}
.tarjeta1{
    margin: 20px;
    padding: 10px 50px;
    text-align: center;
}
/*efecto zoom*/
.zoom {
    transition: transform .2s; 
}
.zoom:hover {
    transform: scale(1.1); 
}
.IMEG-inicio h6{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
}
//modal endoscopia
h5 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
}
.cont-endoscopia{
    background-color: $color-gradiente;
    display: flex;
    margin: 2em;
    padding: 2em;
    justify-content: space-around;
}    
.card-body h6{
    color: #0E554A;
}
.cons-btn{
    color: #0E554A;
}
.turnos{
    width: 100%;
    height: 400px;
    background-color: #f3fbfa;
}
// bordes y detalles @extended//
.bordes-detalles1{
    text-align: center;
    border-radius: 4px;
    border-bottom:#14665F  4px solid;
    border-right:#14665F 2px solid;
    margin-bottom: 2px;
}
.bordes-detalles2{
    text-align: center;
    border-bottom:#14665F  4px solid;
    border-right:#14665F 2px solid;
    margin-bottom: 2px;
}
/*efecto de fondo dinamico*/
.background{
    width: 2rem;
    height: 100%;
    background: linear-gradient(45deg, #DBDEDD, #2E9990, #0E554A);
    animation: hue-rotate 1s linear infinite alternate;
}
@keyframes hue-rotate{
    to{filter: hue-rotate(50deg);}
}
.tarjeta0{
    margin-top: 3px;
    margin-left: 5px;
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}
.conte{
    width: 100%;
    height: auto;
}
/*menu superior derecho*/
.menu-sup{
    padding:2px;
    margin:2px;
    position:fixed;
    right:50px;
    top:10px;
    width:auto;
    z-index: 1000;
}
.menu-sup-list li{
    list-style-type:none;
    background-color: #2E9990 ;
    color:#e3f1f1;
    height:auto;
    padding:0px;
    margin:0px 0px 1px 0px;
    border-radius: 3px;
    border-bottom:#14665F  4px solid;
    border-right:#14665F 2px solid;
    align-items:center;
    text-align: center;
    justify-content: center;
    cursor:pointer;
}
.menu-sup-list li h5{
    padding-top:5px;
    margin-left: 1px;
    line-height:16px;
    font-size:16px;
}
.menu-sup-list li h5 a{
    text-decoration:none;
    color: rgb(242, 236, 236);
}
.menu-sup-list li h5 a:hover{
    text-decoration:underline;
}
/* inicio menu de redes sociales*/
.menuRedes{
    padding:0px;
    margin:0px;
    position:fixed;
    right:-140px;
    top:150px;
    width:210px;
    z-index: 1000;
}
.menuRedes-list li{
    list-style-type:none;
    background-color: #DBDEDD ;
    color:#e3f1f1;
    height:43px;
    padding:0px;
    margin:0px 0px 1px 0px;
    border-radius: 15px;
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
    cursor:pointer;
}
.menuRedes-list li:hover{
    margin-left:-115px;
}
.menuRedes-list li img{
    float:left;
    margin:5px 4px;
    margin-right:5px;
}
.menuRedes-list li p{
    padding-top:5px;
    margin:0px;
    line-height:16px;
    font-size:11px;
}
.menuRedes-list li p a{
    text-decoration:none;
    color: black;
}
.menuRedes-list li p a:hover{
    text-decoration:underline;
}
/* fin de menu de redes sociales*/
footer{
    width: 100%;
    height: 20vh;
    margin-bottom: 0;
    padding: 10px;
    background-color: #2E9990;
}
.footer__leyenda{
    height: auto;
    width: auto;
    text-align-last:center
}
/*responsive*/
@media screen and (max-width:768px){
    .imagen-de-header h6{
        width: 190px;
    }
    .menu-sup{
        padding:2px;
        margin:2px;
        position:fixed;
        right:20px;
        top:0px;
        width:auto;
        z-index: 1000;
    }
    .menu-sup-list li{
        border-radius: 3px;
        border-bottom:#14665F  2px solid;
        border-right:#14665F 1px solid;
    }
    .menu-sup-list li h5{
        padding-top:3px;
        margin-left: 1px;
        line-height:12px;
        font-size:12px;
    }
    .tarjeta1{
        margin: 5px;
        padding: 10px 50px;
    }
    .container1 img{
        width: 70px;
    }
    .container1 p{
        font-size: 0.8em;
    }
    .IMEG-inicio h6{
        font-size: 0.7em;
    }
    .footer{
        height: 10vh ;
        margin-bottom: 0;
    }
    .footer__leyenda h6{
        font-size:0.8em;
    }
    
}
@media screen and (max-width:600px){
    .imagen-de-header img{
        width: 180px;
    }
    .tarjeta1{
        margin: 10px;
        padding: 20px 50px;
    }
    .container1 img{
        width: 50px;
    }
    .container1 p{
        font-size: 0.7em;
    }
    .footer{
        height: 8vh;
        margin-bottom: 0;
    }
    .footer__leyenda h6{
        font-size: $letra-card-movil;
    }
    
}